body{
    font-family: 'Merriweather', sans-serif;
    font-family: 'Inter', sans-serif;
    margin: 0px;
}
/* heading styles */
header{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    border: 50px solid white;
    border-radius: 75px;
    margin: 10px;
    height: 600px;
    width: 1320px;
}
header img{
    height: 600px;
    width: 1320px;
}
    
.content{
    color: #FFF;
    text-align: center;
}
.header-title{
    font-size: 32px;
    font-weight: 400;
    width: 259px;
    height: 0px;
    padding: 120px 531px 0px;
}
.header-description{
    font-size: 72px;
    font-weight: 900;
    line-height: 90px;
    width: 600px;
    height: 190px;
    padding: 0px 350px;
}

/* main styles  */

.content-1{
    color: #F00;
    text-align: center;
}
.content-2{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-position: center;
    border: 1px solid white;
    border-radius: 16px;
    margin: 60px;

}
.content-2-title{
    width: 642px;
    height: 150px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 68px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    padding: 70px 552px 0px 126px;

}
.content-2-text{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 667px;
    height: 60px;
    padding-left: 135px;
    
}
.button-2{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 150px;
}
.container .image70{
    width: 319.83px;
    height: 462.662px;
    position: absolute;
    left: auto;
    right: 100px;
    margin-top: 50px;
    margin-right: 100px;
}
.content-3{
    margin-top: 100px;
    /* margin-right: 200px; */
    border: 50px solid white;
    border-radius: 65px;
    width: 1320px;
    height: 400px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    /* display:block;
    justify-content: center;
    align-items: center; */
}
.content-3>.content-3-title{
    padding-top: 100px;
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
}
.content-3 button{
    width: 180px;
    height: 70px;
    border: 10px solid white;
    border-radius: 18px;
    background-color: #F00;
    margin-left: 580px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}
.section-4{
    width: 1300px;
    height: 550px;
    margin: 60px;
    display: flex;
    background: #FFF;
}
.section-4-1{
    margin: 70px 80px 50px 0px;
}
.section-4-1-1{
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}
.section-4-1-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 800;
}
.section-4-1-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 40;
    line-height: 32px;
}
.section-4-2-1 img{
    width: 360px;
    height: 360px;
    padding: 30px;
    border-radius: 360px;
    border: 20px solid red;
}
.section-4-3{
    margin: 70px 0px 0px 70px;
}
.section-4-3-1{
    font-size: 36px;
    font-weight: 800;
}
.section-4-3-2{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 40;
    line-height: 32px;
}
.section-5{
    margin: 60px;
    width: 1300px;
    height: 400px;
}
.section-5-1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
.section-5-2{
    color: black;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.section-5-3{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.section-6{
    width: 1300px;
    margin: 60px;
}
.section-6-1{
    display: flex;
}

.image-girl{
    top: 0%;
    left: 0%;
    padding-left: 891px;
    position: relative;
    width: auto;
}
.image-dis{
    /* top: 0%;
    left: 0%; */
    padding-top: 80px;
    padding-left: 740px;
    width: auto;
    position: absolute;
}
.image-box{
    /* top: 0%;
    left: 0%; */
    padding-left: 0px;
    position: absolute;
    width: auto;
    height: auto;
}

/* Section - 7 */
.section-7{
    margin: 50px 30px 50px 50px;
}
.section-7-1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 192px;
    height: 29px;
    
}
.section-7-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    width: 566px;
    height: 60px;
}
.section-7-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    height: 64px;
}
.section-7-pictures img{
    border: 10px solid white; 
}

/* Section-8 */
.section-8{
    margin: 60px;
    width: 1320px;
    height: 616px;
    border: 1px solid white;
    border-radius: 16px; 
    background: rgba(255, 0, 0, 0.05);
}
.section-8 img{
    padding-left: 580px;
    padding-top: 80px;
}
.section-8-1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.section-8-2{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 890px;
    height: 60px;
    padding-left: 200px;
}

.section-8-btn{
    display: flex;
}
.section-8-3{ 
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    font-family: Inter;
    width: 410px;
    height: 65px;
    border: 1px solid white;
    border-radius: 50px 0px 0px 50px;
    margin-left: 320px;
    padding-left: 40px;
}
.section-8-4{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    width: 210px;
    height: 65px;
    background: #F00;
    border: 1px solid white;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
}

/* Sectioin - 9 */

.section-9{
    background: #070211;
    width: 1600px;
    height: 600px;
}
.section-9-1{
    display: flex;
}
.section-9-1 address{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    width: 370px;
    height: 80px;
    padding: 140px 0px 0px 100px;
}
.contact{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    width: 250px;
    height: 30px;
    padding: 100px 0px 0px 700px;
}

.section-9 hr{
    width: 1100px;
    height: 0px;
    margin: 30px 0px 30px 70px;
    background: rgba(255, 255, 255, 0);
    padding-right: 200px;
}
.section-9-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-9-3{
    display: flex;
}
.section-9-3-1{
    margin-left: 100px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section-9-3-btn{
    padding-left: 800px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    background: black;
    border: 1px solid black;
}